body{
    background-color:#D7E1E6;
    background-image:url('/assets/images/worldmap2.png');
}


.botm-line {
    background-color: #2b2b2b;
    width: 34px;
    height: 3px;
    display: inline-block;
}

fieldset {
    padding-top: 5px;
}

.jumbotron {
 background-image:url('/assets/images/worldmap2.png');
 font-family: 'bitter', serif;
}

#intro {
    animation-delay:1s;
    font-family: 'IBM Plex Mono',monospace;
}

.monoFont{
    animation-delay:1s;
    font-family: 'IBM Plex Mono',monospace;
}

fieldset {
    display:inline-block;
}

#profile-image{
    border-radius: 50%;
    height:130px;
}
#profile-image2{
    border-radius: 50%;
    height: 103px;
    display: block;
    margin: auto;
}

#contact-inputs{
    align-content: center;
}

.head-title {
 font-family:'bitter', serif;
}

h3{
    font-family:'IBM Plex Mono',monospace;
}

#social-title {
    font-family:'bitter', serif;
}

#view-more-btn {
    margin: 0 auto;
    display: block;
}

#intro-text {
    background-color: yellow;
    padding: 3px;
    border: 3px solid yellow;
}

.intro-text {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: yellow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 395px;
    top: 266px;
}

.dropdown-content p {
    color: black;
    background-color:yellow;
    text-align: center;
    padding: 9px 46px;
    margin-bottom:0px;
    font-family: monospace;
    border: .5px solid black;

}

.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.carousel-item>img{
    margin: 0 auto;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
