body{
    background-color:#D7E1E6;
}

h3{
    font-family:'IBM Plex Mono',monospace;
}

h5 {
    font-family: 'IBM Plex Mono',monospace;
    margin-bottom: 5px;
}

.botm-line {
    background-color: #2b2b2b;
    width: 34px;
    height: 3px;
    display: inline-block;
}

.jumbotron {
 font-family: 'bitter', serif;
 padding-bottom: 15px;
}

#profile-image{
    border-radius: 50%;
    height:260px;
}
#profile-image2{
    border-radius: 50%;
    height: 103px;
    display: block;
    margin: auto;
}

.head-title {
 font-family:'bitter', serif;
}

#view-more-btn {
    margin: 0 auto;
    display: block;
}

#social-title {
    font-family:'bitter', serif;
}

footer {
    position: relative;
    width: 100%;
    text-align: center;
}

/* bored html */
.carousel-item>img{
    margin: 0 auto;
}

/* more-about html */
.monoFont{
    animation-delay:1s;
    font-family: 'IBM Plex Mono',monospace;
}

.subtitle{
    font-size: 20px;
}