body{
    background-color:#D7E1E6;
    background-image:url('/assets/images/worldmap2.png');
}


.botm-line {
    background-color: #2b2b2b;
    width: 34px;
    height: 3px;
    display: inline-block;
}

fieldset {
    padding-top: 5px;
}

.jumbotron {
 background-image:url('/assets/images/worldmap2.png');
 font-family: 'bitter', serif;
}

#intro {
    animation-delay:1s;
    font-family: 'IBM Plex Mono',monospace;
}

fieldset {
    display:inline-block;
}

#profile-image{
    border-radius: 50%;
    height:130px;
}

#contact-inputs{
    align-content: center;
}

.head-title {
 font-family:'bitter', serif;
}

h3{
    font-family:'IBM Plex Mono',monospace;
}

#social-title{
    font-family:'bitter', serif;
}

#view-more-btn{
    margin: 0 auto;
    display: block;
}

#intro-text {
    background-color: yellow;
    padding: 3px;
    border: 3px solid yellow;
}

